.app-container {
  /* display: flex; */
  height: 100vh;
  width: 100vw;
  /* align-items: center; */
  justify-content: center;
  position: relative;
}
/* register  */
.form-container {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 25%;
  left: 40%;
}
.form-container legend {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  color: rgb(64, 122, 154);
  font-weight: bold;
}
.form-container label {
  font-size: 18px;
  margin-bottom: 5px;
}
.form-container input {
  width: 95%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid rgba(51, 51, 51, 0.6);
  padding: 3px;
  margin-top: 5px;
}
.form-container input[type="radio"] {
  width: auto;
}

.form-container p {
  text-align: left;
  font-size: 25px;
}
.form-container button {
  background-color: rgb(64, 122, 154);
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}
.form-container p {
  font-size: 16px;
  text-align: center;
  color: #333;
  margin-top: 15px;
  margin-bottom: 0px;
}
.form-container a {
  color: blue;
}
/* navbar */
.navbar-container {
  display: flex;
  height: 60px;
  width: 100vw;
  background-color: rgb(92, 149, 179);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navbar-container button {
  height: 30px;
  width: 80px;
  border-radius: 20px;
  border: none;
  background-color: rgb(219, 29, 29);
  color: white;
  position: absolute;
  right: 40px;
}
.navbar-container a {
  color: white;
  text-decoration: none;
}
